
body{
    font-family: Verdana, sans-serif;
    background-color: #ffe6f2;
    text-align: center;
}

h1{ color: #6a1b9a; }
h2{ color: #444; }

table{
    background: #fff;
    margin: auto;
    padding: 15px;
    border-radius: 12px;
    border: 3px solid #6a1b9a;
}

input, textarea, select{
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #6a1b9a;
}

input[type=submit], input[type=reset]{
    padding: 8px 20px;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

input[type=submit]{ background: #6a1b9a; }
input[type=reset]{ background: #ff7043; }
